.ui-grid-b {
    height: 80px !important;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-content: center;
}

.portrait {
    height: 80px;
    width: 25px;
}

.landscape {
    height: 25px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}

.ui-grid-c {
    background-color: black;
    border-style: none !important;
}

.ui-grid {
    background-color: black;
    border-style: none !important;
}

[data-role=page] {
    height: 100% !important;
    position: relative !important;
    font-family: "Source Sans Pro"
}

[data-role=header] {
    font-size: 25px;
    align-content: center;
}

[data-role=footer] {
    bottom: 0;
    position: absolute !important;
    top: auto !important;
    width: 100%;
}

[data-role=panel] {
    font-family: "Source Sans Pro";
    color: white;
}

.ui-block-a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.ui-block-e {
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-content: center;
}

.ui-block-b {
    margin-top: 15px;
    text-align: center;
    font-family: "Source Sans Pro";
    color: white;
    font-weight: normal;
    font-size: 18px;
    text-shadow: none;
}

.ui-bar {
    text-align: center;
    font-family: "Source Sans Pro";
    color: white;
    font-weight: normal;
    font-size: 12px;
    text-shadow: none;
    border-style: none !important;
}

.ui-block-c {
    margin-top: 16px;
}

.ui-block-d {
    margin-top: 18px;
}

body,
input,
select,
textarea,
button,
.ui-btn {
    font-size: 1em;
    line-height: 1.3;
    font-family: "Source Sans Pro";
}

#search-basic {
    font-size: 24sp;
}

.ui-panel-position-right.ui-panel-display-reveal {
    -webkit-box-shadow: none;
}

.menu_show {
    right:0!important;
}

    @media screen and (max-width: 425px) {
    header h1 {
    font-size: 16px;
    }
}
    @media screen and (max-width: 360px) {
    nav.menu {
        width: 100%;
        left: -100%; 
    }
}