style*{ margin: 0 auto; font-family: sans-serif; }

body { margin: 0 auto; }

header {
	height: 70px;
	background-color: #000;
	border-bottom: 1px solid #494949;
	display: flex;
	align-items: center;
	justify-content: center;
}
header > h1 {
	width: calc(100% - 160px);
	text-align: center;
	font-size: 20px;
	color: white;
}
.ui-grid-c > .ui-block-d > .top {
	position: absolute;
    right: 20px;
    
}
.ui-grid-c > .ui-block-d > .top a.menu_icon i {
    color: #fff;
	font-size: 40px;
	padding-top: 5px;
	transition: .2s ease;
}
/* header > .top a.menu_icon:hover i {
	color: #fff;
} */
nav.menu {
	width: 300px;
	min-height: calc(100vh);
	background-color: #000;
    position: absolute;
	right: -300px;
	transition: .3s all;
}
.author > span {
    position: absolute;
    bottom: 0;
    left: 0;
}
.time > span {
  text-decoration: overline;
    position: absolute;
    bottom: 0;
    left: 0;
}
.name > span {
    position: absolute;
    bottom: 0;
    left: 0;
}
.place > span {
    position: absolute;
    bottom: 0;
    right: 0;
}
nav.menu > h5{
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    text-transform: uppercase;
    color: #fff;
}
main {
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
}
.footer {
	height: 50px;
	background-color:black;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.menu_show {
	right:0!important;
}

@media screen and (max-width: 425px) {
	header h1 {
		font-size: 16px;
	}
}
@media screen and (max-width: 360px) {
	nav.menu {
		width: 100%;
		left: -100%; 
	}
}

.ui-grid-b {
    height: 80px !important;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    align: center;
}

.portrait {
    height: 80px;
    width: 25px;
}

.landscape {
    height: 25px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}

.ui-grid-c {
    background-color: black;
    border-style: none !important;
}

[data-role=page] {
    height: 100% !important;
    position: relative !important;
    font-family: "Source Sans Pro"
}

[data-role=header] {
    font-size: 25px;
    align-content: center;
}

.ui-block-a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.ui-block-b {
    margin-top: 15px;
    text-align: center;
    font-family: "Source Sans Pro";
    color: white;
    font-weight: normal;
    font-size: 18px;
    text-shadow: none;
}

.ui-block-c {
    margin-top: 16px;
}

.ui-block-d {
    margin-top: 18px;
}